
@{
    ViewData["Title"] = "Index";
}

<h2>Customer Index page</h2>

<h2>List of customers or create a new one</h2>

<a href="@Url.Action("AddNewCustomer", "Customer")">Add new customer</a>

<h1>
    <a style="color:darkmagenta" href="@Url.Action("DeleteCustomer", "Customer")">&#9762; Let's delete some customers(one at a time) &#9762;</a>
</h1>

