
@{
    ViewData["Title"] = "Index";
}

<h1>Invoice Index Page</h1>

<div>
    <h2>From here we will link to what you can do with an invoice</h2>
</div>
<div>
    <a href="@Url.Action("AddNewInvoice", "Invoice")">Add new invoice</a>
</div>

