
@{
    ViewData["Title"] = "Index";
}

<h1>Invoice Index Page</h1>

<div>
    <h2>From here we will link to what you can do with an invoice</h2>
</div>
<div>
    <a href="@Url.Action("AddNewInvoice", "Invoice")">Add new invoice</a>
    <h1>
        <a style="color:darkmagenta" href="@Url.Action("DeleteInvoice", "Invoice")">&#9762; Let's delete some invoices &#9762;</a>
    </h1>
</div>

