@model EFCorePoC.ViewModels.DeleteProductViewModel

@{
    ViewData["Title"] = "DeleteProduct";
}

<h2>DeleteProduct</h2>

<h1>Which Product Id to delete</h1>

<form asp-action="DeleteProduct">
    <div class="form-group">
        <label asp-for="idToDelete" class="control-label"></label>
        <input asp-for="idToDelete" class="form-control" />
        <span asp-validation-for="idToDelete" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="DELETE" class="btn btn-default" />
    </div>

    <a href="@Url.Action("AddNewProduct", "Product")">Add new product</a>
</form>

