
@{
    ViewData["Title"] = "Product";
}

<h2>Product Index page</h2>

<h2>List of products or create a new one</h2>

<a href="@Url.Action("AddNewProduct", "Product")">Add new product</a>

<h1>
    <a style="color:darkmagenta" href="@Url.Action("DeleteProduct", "Product")">&#9889; Let's delete some products(one at a time) &#9889;</a>
</h1>